@charset "UTF-8";
/*Configurações gerais*/
*{
    padding: 0%;
    margin: 0%;
}
/*Estilo do Login*/

.bodyL{
    background-image: linear-gradient(45deg, #1D2226, #383D40 40%, #6E7372 40%, #A2A6A1 60%, #F2F2F2);
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: absolute;
}

.titleLogin{
    text-align: center;
    padding: 45px;
    font-size: 65px;
    color: #f3f3f3;
    text-shadow: 0px 9px 10px #2d2f30;
    font-family: 'Roboto', sans-serif;
}

.ifLogin{
   color: #fff;
   text-align: center;
   font-size: 20px;
   margin-bottom: -50px;
   margin-top: 30px; 
}

.formLogin{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    padding: 40px;
    margin-top: 150px;
    height: 55%;
    background-color: rgba(235, 235, 235, 0.836);
    border-radius: 25px;
    border-width: 0px;
    box-shadow: 0px 4px 20px #2d2f30;
}

.userLogin{
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 8px;
    font-size: 25px;
    color: #0f3750;
    font-family: 'Roboto', sans-serif;
}

.dadosLogin{
    padding: 6px;
    width: 70%;
    border-radius: 10px;
    border-width: 0;
    box-shadow: 0px 2px 3px #2d2f30;
}

.buttonLogin{
    margin-top: 28px;
    width: 25%;
    padding: 7px;
    border-radius: 10px;
    border-width: 0;
    background-color: #b9b9b9;
    color: #fff;
    box-shadow: 0px 2px 3px #2d2f30;
}

.buttonLogin:hover{
    color: #fff;
    font-size: 18px;
}

.footerLogin{
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-top: 30px;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    text-decoration: none;
    color: #fff;
}

.footerLogin:hover{
    text-decoration: none;
    color: #fff;
    font-size: 28px;
    text-shadow: 0px 3px 5px #fff;
}
/*Index.php*/
.body{
    width: 100%;
    height: 100%;
    position: absolute;
}

.main{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(45deg, #A2A6A1, #F2F2F2 39.7%, #1D2226 40%, #383D40 60%, #6E7372);
}

.flex{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.header{
    width: 100%;
    height: 11%;
    margin-bottom: auto;
    background-color: rgba(241, 241, 241, 0.801);
    box-shadow: 0px 5px 10px #3f4142;
}

.menuIndex{
    line-height: 30px;
    margin-left: 35px;
    font-size: 20px;
    color: #1f1f1f;
    text-shadow: 0px 3px 4px #858585;
    font-family: 'Roboto', sans-serif;
    margin-top: 5px;   
}

.sairIndex{
    text-decoration: none;
    color: #f7f7f7;
    font-family: 'Roboto', sans-serif;
    text-shadow: 2px 2px 5px #000000;
    font-size: 20px;
    margin-left: 35px
}

.sairIndex:hover{
    color: #ffffff;
    font-size: 22px;
    text-shadow: 2px 2px 10px #000;
}

.nav{
    width: 12.59%;
    height: 70%;
    background-color: rgb(255, 255, 255);
    margin-left: -15px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 3px 8px 13px #505050;
    opacity: 0.90;
    line-height: 70px;
}

.listA{
    list-style: none;   
    display: flex;
    text-decoration: none;
    justify-content: center;
    font-size: 15px;
    color: #2c2c2c;
    text-shadow: 0px 3px 4px #858585;
    font-family: 'Roboto', sans-serif;
}

.listA:hover{
    color:#272727;
    font-size: 15.4px;
    text-shadow: 0px 4px 5px #3f3f3f;
    font-family: 'Roboto', sans-serif;
}

.listB{
    list-style: none;   
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: 15px;
    color: #2c2c2c;
    text-shadow: 0px 3px 4px #858585;
    font-family: 'Roboto', sans-serif;
}

.listB:hover{
    color:#272727;
    font-size: 15.4px;
    text-shadow: 0px 4px 5px #3f3f3f;
    font-family: 'Roboto', sans-serif;
}

li{
    margin: 20px 0px;
}

.SIframe{
    width: 70%;
    height: 70%;
}

.iframe{
    width: 99.7%;
    border-width: 0;
    box-shadow: 0px 0px 20px #1a1a1a;
    height: 100%;
    background-color: rgba(240, 240, 240, 0.877);
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
}

.aside{
    width: 12.59%;
    height: 70%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-right: -15px;
    background-color: rgb(255, 255, 255);
    box-shadow: -3px 8px 13px #1a1a1a;
    display: flex;
    align-items: center;
    justify-content: center;    
    line-height: 70px;
    opacity: 0.90;
} 

.footer{
    width: 100%;
    height: 4%;
    background-color: rgba(241, 241, 241, 0.801);
    box-shadow: 0px 5px 10px #202122;
    display: flex;
    margin-top: auto;
}
/* Formulário para Cadastro de Usuário*/
UBody{
    width: 100%;
    height: 100%;

}

.UFieldset{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

