@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
/*Configurações gerais*/



/*Estilo do Login*/
.bodyLogin{
    background-image: linear-gradient(46deg, #144E73, #05AFF2, #05C7F2, #8FCBD9);
    background-repeat: no-repeat;
    height: 939px;
    font-family: 'Bungee Shade'
}
.titleLogin{
    text-align: center;
    padding: 40px;
    font-size: 50px;
    color: #ebfbff;
    text-shadow: 0px 9px 10px #0c3249;
}
.formLogin{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    padding: 40px;
    margin-top: 150px;
    height: 220px;
    background-color: rgb(235, 235, 235);
    border-radius: 20px;
    border-width: 0px;
    opacity: 1;
    box-shadow: 0px 4px 20px #0c3249;
}
.userLogin{
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 8px;
    font-size: 20px;
}
.dadosLogin{
    opacity: 1;
    padding: 6px;
    width: 70%;
    border-radius: 10px;
    border-width: 0;
    box-shadow: 0px 2px 3px #0c3249;
}
.buttonLogin{
    margin-top: 28px;
    width: 25%;
    padding: 7px;
    border-radius: 10px;
    border-width: 0;
    background-color: #8FCBD9;
    color: #fff;
    box-shadow: 0px 2px 3px #0c3249;
}
.buttonLogin:hover{
    color: #fff;
    font-size: 18px;
}
.footerLogin{
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-top: 30px;
    width: 45px;
    margin-left: auto;
    margin-right: auto;
}
.footerLogin:hover{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
}
/*Index.php*/

*{
    padding: 0%;
    margin: 0%;
}

.body{
    width: 100%;
    height: 97%;
    position: absolute;
}

.main{
    width: 100%;
    height: 97%;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.header{
    width: 97%;
    height: 10%;
    border-radius: 20px;
    background-image: linear-gradient( to right, #FFC7A1, #FFC7A1, #F6F894, #CFF0FF, #C5B4E8, #FFB9DE, #FFB9DE);
}

.nav{
    width: 12.59%;
    height: 70%;
    background-color: #FFC7A1;
    margin-left: 1%;
    border-radius: 20px;
    
}

ul{
    list-style: none;
    text-align: center;
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-shadow: 0px 0px 5px rgb(53, 53, 53);
}

a:hover{
    color: #ee9e9e;
    font-size: 20px;
    text-shadow: 0px 0px 5px rgb(255, 255, 255);
}

li{
    margin: 20px 0px;
}



.SIframe{
    width: 70%;
    height: 70%;
    
}

.iframe{
    width: 99.7%;
    height: 99%;
    border-radius: 20px;
    background-image: linear-gradient( to right, #FFC7A1, #F6F894, #CFF0FF, #C5B4E8, #FFB9DE);
    border-style: none;
}

.aside{
    width: 12.59%;
    height: 70%;
    background-color: #FFB9DE;
    margin-right: 1%;
    border-radius: 20px;
}

.footer{
    width: 97%;
    height: 10%;
    border-radius: 20px;
    background-image: linear-gradient( to right, #FFC7A1, #FFC7A1, #F6F894, #CFF0FF, #C5B4E8, #FFB9DE, #FFB9DE);
}

/* Formulário para Cadastro de Usuário*/

UBody{
    width: 100%;
    height: 100%;

}

.UFieldset{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
/*Parte do login*/
.login{
    background-color: #ee9e9e;

}
/*termina o login*/
/*Parte dos PDFS*/

/*parte do autonomoPDF*/

/*parte do imovelPDF*/

/*parte do servicoPDF*/
/*fim da parte dos PDFS*/