@charset "UTF-8";

/*Configurações gerais*/


/*Index.php*/

/**{
    padding: 0%;
    margin: 0%;
}

.body{
    width: 100%;
    height: 97%;
    position: absolute;
}

.main{
    width: 100%;
    height: 97%;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.header{
    width: 97%;
    height: 10%;
    border-radius: 20px;
    background-image: linear-gradient( to right, #FFC7A1, #FFC7A1, #F6F894, #CFF0FF, #C5B4E8, #FFB9DE, #FFB9DE);
}

.nav{
    width: 12.59%;
    height: 70%;
    background-color: #FFC7A1;
    margin-left: 1%;
    border-radius: 20px;
    
}

ul{
    list-style: none;
    text-align: center;
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-shadow: 0px 0px 5px rgb(53, 53, 53);
}

a:hover{
    color: #ee9e9e;
    font-size: 20px;
    text-shadow: 0px 0px 5px rgb(255, 255, 255);
}

li{
    margin: 20px 0px;
}



.SIframe{
    width: 70%;
    height: 70%;
    
}

.iframe{
    width: 99.7%;
    height: 99%;
    border-radius: 20px;
    background-image: linear-gradient( to right, #FFC7A1, #F6F894, #CFF0FF, #C5B4E8, #FFB9DE);
    border-style: none;
}

.aside{
    width: 12.59%;
    height: 70%;
    background-color: #FFB9DE;
    margin-right: 1%;
    border-radius: 20px;
}

.footer{
    width: 97%;
    height: 10%;
    border-radius: 20px;
    background-image: linear-gradient( to right, #FFC7A1, #FFC7A1, #F6F894, #CFF0FF, #C5B4E8, #FFB9DE, #FFB9DE);
}

/* Formulário para Cadastro de Usuário*/*/

/*UBody{
    width: 100%;
    height: 100%;

}

.UFieldset{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}*/